{{!-- This file is reponsible for outputting the footer --}}

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <a href="https://twitter.com/riyadhalnur" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
        <span class="visuallyhidden">Twitter</span>
      </button>
    </a>
    <a href="https://bd.linkedin.com/in/riyadhalnur" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin">
        <span class="visuallyhidden">Linkedin</span>
      </button>
    </a>
    <a href="https://facebook.com/riyadhalnur" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__facebook">
        <span class="visuallyhidden">Facebook</span>
      </button>
    </a>
    <a href="https://github.com/riyadhalnur" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__github">
        <span class="visuallyhidden">Github</span>
      </button>
    </a>
  </div>
  <div class="mdl-mini-footer--right-section">
    <span>Material Design Theme with <i class="material-icons love-icon">favorite</i> from Dhaka, Bangladesh. Powered by <a href="http://ghost.org" target="_blank">Ghost</a>.</span>
  </div>
</footer>
