{{!-- This file is reponsible for outputting the header logo and descriptipn cards --}}

<div class="mdl-card mdl-cell mdl-cell--4-col logo-card mdl-shadow--2dp">
  <div class="logo-card-image">
    <img src="{{@blog.logo}}" />
  </div>
</div>
