{{!-- This file is reponsible for outputting the header bar with links to
      pages defined in settings --}}

<div class="mdl-layout__drawer">
  <header class="nav-header">
      <img class="logo-image mdl-shadow--2dp" src="{{@blog.logo}}" />
      <div class="logo-image-text mdl-color-text--blue-grey-50">
        <span class="mdl-typography--title">{{@blog.title}}</span>
      </div>
  </header>

  <nav class="mdl-navigation">
    <span class="nav-about">{{@blog.description}}</span>
    <div class="mdl-layout-spacer"></div>
    {{#if @blog.navigation}}
      {{#foreach navigation}}
      <a class="mdl-navigation__link" href="">{{label}}</a>
      {{/foreach}}
    {{/if}}
  </nav>
</div>
