{{!< default}}

<div class="material__posts mdl-grid">
  {{> "loop"}}

  <nav class="material-nav mdl-cell mdl-cell--12-col">
    <div class="section-spacer"></div>
    <a href="entry.html" class="material-nav__button" title="show more">
      More
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_forward</i>
      </button>
    </a>
  </nav>
</div>
